<div class="company-group">
    <div class="h-row">
        <div class="gilroy-48">
            <span class="black">Группа</span><br>
            <span class="blue">компаний</span>
        </div>
      <app-quote-block [text]="text"></app-quote-block>
      <img class="up" src="../../assets/images/company-group/group.svg">
    </div>
    
    <div class="line top-line">

        <div class="item its">
          <div class="item-title">ITS
              <div class="item-text">консалтинг и управление <br>группой компаний</div>
          </div>
        </div>
      
      <div class="item mts">
        <div class="item-title">Development
            <div class="item-text">недвижимость <br>и аренда</div></div>
      </div>

      <div class="item m3">
        <div class="item-title">Агрегатор
            <div class="item-text">автомобильного <br>сервиса</div></div>
      </div>

      <div class="item mir_stroy">
        <div class="item-title">Строительство
            <div class="item-text">капитальные и некапитальные <br>сооружения</div></div>
      </div>

    </div>

    <div class="line bottom-line">

      <div class="item it">
        <div class="item-title">IT
            <div class="item-text">аккредитованная <br>минцифрой</div></div>
      </div>
      
      <div class="item pk">
        <div class="item-title">Сеть ПК
            <div class="item-text">придорожный сервис</div></div>
      </div>

      <div class="item kapital">
        <div class="item-title">Капитал
            <div class="item-text">бухгалтерия, налоги, <br>аудит, безопасность</div></div>
      </div>

      <div class="item tender">
        <div class="item-title">Тендеры
            <div class="item-text">тендеры и договора</div></div>
      </div>

    </div>
  </div>