/* .page{
    padding-bottom: 60px;
    margin-bottom: 120px;
} */
.company-group{
    width: 100%;
    padding-bottom: 60px;
    background: #F5F6FB;
}
.h-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.up {
    position: relative;
    top: -60px;
}
.column{
    display: flex;
    flex-direction: column;
}
.blue-letters{
    color: #002ED0;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}
.black-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}
.caption-2{
    width: 410px;
}
.small-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.block {
    width: 318px;
    height: 250px;
    border-radius: 20px;
    background-color: #FFF;
    overflow: hidden;
}
.circle {
    width: 86px;
    height: 86px;
    background-color: #264DD7;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}
.title {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 300;

    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.text {
    position: relative;
    top: 30px;
    left: 20px;
    z-index: 300;
    opacity: 0;
}
.picture {
    position: relative;
    left: 190px;
    bottom: -20px;
    z-index: 500;
}
.shadow {
    position: relative;
    top: 80px;
    left: 65px;
}

.circle2 {
    width: 86px;
    height: 86px;
    background-color: #2692F5;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}
.circle3 {
    width: 86px;
    height: 86px;
    background-color: #4ED167;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}
.circle4 {
    width: 86px;
    height: 86px;
    background-color: #FF8C26;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}
.circle5 {
    width: 86px;
    height: 86px;
    background-color: #8742DB;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}
.circle6 {
    width: 86px;
    height: 86px;
    background-color: #2A4F78;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}
.circle7 {
    width: 86px;
    height: 86px;
    background-color: #FFC226;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}
.circle8 {
    width: 86px;
    height: 86px;
    background-color: #26C7D0;
    opacity: 0;
    border-radius: 43px;
    position: relative;
    top:-230px;
    left:-40px;
}