<div class="header">
      <img class="gap-1" src="../../assets/images/its_group.svg">
      <div class="header-component"><a href="#main">О компании</a></div>
      <div class="header-component"><a href="#company-group">Группа компаний</a></div>
      <div class="header-component"><a href="#our-team">Наша команда</a></div>
      <div class="header-component"><a href="#contacts">Контакты</a></div>
      <div class="header-component telephone">8 (800) 550 08 55 
        <img class="gap-2" src="../../assets/images/Ellipse 105.svg"></div>
</div>