/* Common */

a {
    text-decoration: none;
    color: #3A3A3A;
}
a:hover {
    color: #002ED0;
}


/* Monitors */

@media (min-width: 801px) {
    .mobile-header {
        display: none;
    }
    .img-header {
        margin-left: 30px;
        margin-right: 30px;
    }
    .header{
        position: fixed;
        width: 100%;
        background: #FBFBFD;
        box-shadow: #CACACA 1px 0 5px;
        z-index: 900;
    
        display: flex;
        text-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-component{
        color: #3A3A3A;
        font-family: Gilroy;
        font-style: normal;
        display: flex;
        align-items: center;
    }
    .telephone{
        color: #050608;
    }
}
@media (min-width: 801px) {
    .header{
        height: 99px;
    }
    .gap-2{
        padding-right: calc((100% - 1440px) / 2 + 50px);
    }
    .header-component{
        font-size: calc((100vw - 800px) / (1920 - 800) * (22 - 12) + 12px);

        font-weight: 500;
        line-height: 22px;
        margin: 0 24px;
    }
    .telephone{
        font-weight: 600;
    }
}
@media (min-width: 1440px) {
    .gap-1{
        padding-left: calc((100% - 1440px) / 2 + 50px);
        padding-right: 200px;
    }

    .header-component{
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        margin: 0 24px;
    }
    .telephone{
        color: #050608;
        font-weight: 600;
    }
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
    .gap-1{
        padding-left: calc((100% - 1440px) / 2 + 50px);
        padding-right: calc(200px - (1440px - 100%));
    }
}



/* Mobile */

@media (max-width: 800px) {
    .header {
        display: none;
    }
    .mobile-header {
        position: fixed;
        width: 100%;
        height: 56px;
        background: #FBFBFD;
        box-shadow: #CACACA 1px 0 5px;
        border-radius: 0 0 10px 10px;
        z-index: 900;
    }
    .row {
        display: flex;
    }
    .col {
        background-color: #FBFBFD;
        padding-top: 10px;
        margin-top: -10px;
        padding-bottom: 40px;
        border-radius: 0 0 20px 20px;
        padding-left: 24px;
        padding-right: 24px;
        color: #3A3A3A;
        font-family: Gilroy;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
    }
    hr {
        margin: 20px -8px;
        border: 1px solid #EEEEEE;
    }
    .sub {
        color: #151D28;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .phone-row {
        color: #002ED0;
        font-family: Gilroy;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        align-items: bottom;
    }
    #mob-its {
        height: 36px;
        padding-top: 12px;
        padding-left: 20px;
        padding-right: calc(649px - (800px - 100%));
    }
    #mob-phone {
        height: 32px;
        padding-top: 12px;
    }
    #img-phone2 {
        padding-right: 10px;
        padding-bottom: 5px;
    }
    #menu-cross {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 15px;
    }
}