
a {
    text-decoration: none;
    color: #3A3A3A;
}
a:hover {
    color: #002ED0;
}
img {
    margin-left: 30px;
}
.header{
    position: fixed;
    width: 100%;
    background: #FBFBFD;
    box-shadow: #CACACA 1px 0 5px;
    z-index: 900;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-component{
    color: #3A3A3A;
    font-family: Gilroy;
    font-style: normal;
    display: flex;
    align-items: center;
}
.telephone{
    color: #050608;
}

@media screen and (min-width: 1238px) {
    .header{
        height: 99px;
    }
    .gap-1{
        padding-left: calc((100% - 1440px) / 2 + 50px);
        padding-right: 200px;
    }
    .gap-2{
        padding-right: calc((100% - 1440px) / 2 + 50px);
    }
    .header-component{
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        margin: 0 24px;
    }
    .telephone{
        font-weight: 600;
    }
}
@media screen and (max-width: 1237px) {
    .header{
        height: 99px;
    }
    .gap-1{
        padding-left: calc((100% - 1440px) / 2);
        padding-right: 150px;
    }
    .gap-2{
        padding-right: calc((100% - 1440px) / 2);
    }
    .header-component{
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        margin: 0 24px;
    }
    .telephone{
        font-weight: 600;
    }
}
@media screen and (max-width: 1187px) {
    .header{
        height: 90px;
    }
    .gap-1{
        padding-left: calc((100% - 1440px) / 2);
    }
    .gap-2{
        padding-right: calc((100% - 1440px) / 2);
    }
    .header-component{
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 22px;
    }
    .telephone{
        font-weight: 500;
    }
}
@media screen and (max-width: 1097px) {
    .header{
        height: 80px;
    }
    .header-component{
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin: 0 18px;
    }
    .telephone{
        font-weight: 500;
    }
}