<div class="header">
      <img class="gap-1" src="../../assets/images/its_group.svg">
      <div class="header-component"><a href="#main">О компании</a></div>
      <div class="header-component"><a href="#company-group">Группа компаний</a></div>
      <div class="header-component"><a href="#our-team">Наша команда</a></div>
      <div class="header-component"><a href="#contacts">Контакты</a></div>
      <div class="header-component telephone gap-2">8 (800) 550 08 55 
        <img src="../../assets/images/Ellipse 105.svg"></div>
</div>

<div class="mobile-header"
[@menuClick]="clicked ? 'menu-open' : 'menu-close'"
>
    <div class="row">
        <img id="mob-its" src="../../assets/images/its_group.svg">
        <img id="mob-phone" src="../../assets/images/Ellipse 105.svg">
        <div id="menu-cross"
        [@menuClick]="clicked ? 'cross' : 'menu'"
        (mousedown)="showMenu()"
        ></div>
    </div>

    <div class="col"
    [@menuClick]="clicked ? 'menu-open' : 'menu-close'"
    >
        <hr>
        <a href="#main">О компании</a>
        <hr>
        <a href="#our-team">Наша команда</a>
        <hr>
        <a href="#company-group">Группа компаний</a>
        <hr>
        <a href="#contacts">Контакты</a>
        <hr>
        <div class="phone-row">
            <img id="img-phone2" src="../../assets/images/phone2.svg">
            8 (800) 55 008 55 
        </div>
        <div class="sub">Звоните в любое время</div>
    </div>

</div>