.header{
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 99px;
    flex-shrink: 0;
    background: #FBFBFD;
    box-shadow: 0px 2px 2px gray;
    z-index: 10;

    display: flex;
}
.header-component{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    margin: 0 24px;
}
.telephone{
    color: #050608;
    font-weight: 600;
}
.h-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
svg{
    margin: 0 64px;
}