<div class="monitor">
    <div class="footer">
        <hr>
        <div class="row">
            <div class="box">
                <span>О компании </span><br>
                <span>Наша команда </span>
            </div>
            <div class="box">
                <span>Группа компаний </span><br>
                <span>Контакты </span>
            </div>

            <div class="weight-500">
                Наше приложение:
                <div class="row-2">
                    <img src="../../assets/images/Google-play.svg">
                    <img src="../../assets/images/App Store.svg">
                    <img src="../../assets/images/HUAWEI AppGallery.svg">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="mobile">
    <div class="footer">
        <img class="logo" src="../../assets/images/logo.svg">

                Наше приложение:

                    <img src="../../assets/images/Google-play.svg">
                    <img src="../../assets/images/App Store.svg">
                    <img src="../../assets/images/HUAWEI AppGallery.svg">



    </div>
</div>