<div class="monitor">
    <div class="footer">
        <hr>
        <div class="row">
            <div class="box">
                <span><a href="#main">О компании </a></span><br>
                <span><a href="#our-team">Наша команда </a></span>
            </div>
            <div class="box">
                <span><a href="#company-group">Группа компаний </a></span><br>
                <span><a href="#contacts">Контакты </a></span>
            </div>

            <div class="weight-500">
                Наше приложение:
                <div class="row-2">
                    <a href="https://play.google.com/store/apps/details?id=ru.mts" target="_blank"><img src="../../assets/images/Google-play.svg"></a>
                    <a href="https://apps.apple.com/ru/app/mts/id1300134663" target="_blank"><img src="../../assets/images/App Store.svg"></a>
                    <a href="https://appgallery8.huawei.com/#/app/C101971337" target="_blank"><img src="../../assets/images/HUAWEI AppGallery.svg"></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="mobile">
    <div class="footer">
        <img class="logo" src="../../assets/images/logo.svg">
        Наше приложение:
        <a href="https://play.google.com/store/apps/details?id=ru.mts" target="_blank"><img src="../../assets/images/Google-play.svg"></a>
        <a href="https://apps.apple.com/ru/app/mts/id1300134663" target="_blank"><img src="../../assets/images/App Store.svg"></a>
        <a href="https://appgallery8.huawei.com/#/app/C101971337" target="_blank"><img src="../../assets/images/HUAWEI AppGallery.svg"></a>
    </div>
</div>