/* Monitors */
@media (min-width: 801px) {
    .mobile {
        display: none;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        margin-top: 30px;
    }
    .row-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 20px;
    }
    .footer {
        max-width: 1440px;
        height: 214px;
        background-color: #F5F6FB;;
    }
    hr {
        border: 1;
        margin: 0 0 0 0;
    }
    .box {
        /* padding: 30px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        font-weight: 600;
    }
    .weight {
        font-weight: 500;
    }
    .google,.apple,.huawei {
        width: 222px;
        height: 54px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 24px;
    }
    * {
        color: #3A3A3A;
        /* font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        line-height: 22px; */
    }
    .box {
        color: #3A3A3A;
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        line-height: 22px;
    }
}
/* @media (max-width: 1200px) {
    .google, .apple, .huawei {
        width: 150px;
        height: 54px;
    }
    .box {
        font-size: 16px;
        font-weight: 500;
    }
} */

/* Mobile */
@media (max-width: 800px) {
    .monitor {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 64px;
    }
    .google,.apple,.huawei {
        width: 222px;
        height: 54px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    img {
        width: 342px;
        height: 54px;
    }
    .logo {
        width: 72px;
    }
    * {
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #3A3A3A;
        padding: 10px;
    }
}

a {
    text-decoration: none;
}

.google {
    background-image: url("../../assets/images/Google-play.svg");
}
.google:hover {
    background-image: url("../../assets/images/google-hover.svg");
    transition-duration: 0.3s;
}
.apple {
    background-image: url("../../assets/images/App Store.svg");
}
.apple:hover {
    background-image: url("../../assets/images/apple-hover.svg");
    transition-duration: 0.3s;
}
.huawei {
    background-image: url("../../assets/images/HUAWEI AppGallery.svg");
}
.huawei:hover {
    background-image: url("../../assets/images/huawei-hover.svg");
    transition-duration: 0.3s;
}