
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 30px;
}
.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
}
img {
    margin-right: 24px;
}
.footer {
    width: 1440px;
    height: 214px;
    background-color: #F5F6FB;;
}
hr {
    border: 1;
    margin: 0 0 0 0;
}
.box {
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-weight: 600;
}
.weight {
    font-weight: 500;
}
* {
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    line-height: 22px;
}
/* .logo {
    padding: 60px;
    display: flex;
    justify-content: space-around;
} */