<div class="footer">
    <hr>
    <div class="row">
        <!-- <img src="../../assets/images/its_group.svg"> -->
        <div class="box">
            <span>О компании </span><br>
            <span>Наша команда </span>
        </div>
        <div class="box">
            <span>Группа компаний </span><br>
            <span>Контакты </span>
        </div>

        <div>
            Наше приложение:
            <div class="row">
                <img src="../../assets/images/Google-play.svg">
                <img src="../../assets/images/App Store.svg">
                <img src="../../assets/images/HUAWEI AppGallery.svg">
            </div>
        </div>

    </div>
</div>