img {
    width: 317px;
    height: 317px;
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
}
.medium-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.black-letters-28px{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.employee{
    width: 317px;
    height: 317px;
    
    border-radius: 20px;
    background: #C4C4C4;
    margin: 0 5px;
}