img {
    width: 317px;
    height: 317px;
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
}
.employee-job{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    
    padding-left: 8px;
    margin-top: 8px;
    margin-left: 8px;
}
.employee-name{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    
    padding-left: 8px;
    margin-top: 16px;
    margin-left: 8px; 
}
.employee{
    width: 317px;
    height: 317px;
    
    border-radius: 20px;
    background: #C4C4C4;
    margin: 0 5px;
}