.page {
    width: 1440px;
    overflow: hidden;
    background: #F5F6FB;
}
.form {
    width: 100%;
}
.label {
    color: var(--secondary-secondary, #ADADAD);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.verticale {
    height: 350px;
    border-left: 1px solid transparent;
}
.verticale-2 {
    height: 350px;
    border-left: 1px solid transparent;
}
.col {
    display: flex;
    flex-direction: column;
}.col-2 {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.str {
    display: flex;
    align-items: center;
}
.button {
    border-radius: 12px;
    background: #627EDF;
    color: var(--primary-white, #FFF);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    display: inline-flex;
    padding: 16px 119px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    box-shadow: none;
    margin-top: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.map {
    min-width: 200px;
    max-width: 400px;
}

.content {
    margin: 60px
}