.page {
    width: 100%;
    overflow: hidden;
    /* padding-left: 60px;
    padding-right: 60px;
    padding-top: 260px;
    padding-bottom: 120px; */
    background: #F5F6FB;
}


.col {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

img {
    min-width: 200px;
    max-width: 600px;
    object-fit: cover;
}

.content {
    margin: 60px
}