<div class="screen">
    <div class="page">

            <div class="gilroy-48">
                <span class="blue">Контакты</span>
            </div>

        <div class="row">

            <div class="col gilroy-24-400 black">
                <p>г. Воронеж, ул. Дорожная, 46</p>
                <p>8 (800) 55 008 55</p>
                <p>info@mtransservice.ru</p>
            </div>

            <div class="col gilroy-14 black">
                <p>Имея опыт не на словах, а на собственных компаниях, наша команда готова помочь вам с реализацией даже самых непростых задач!</p>
                <mat-form-field>
                    <mat-label>Ваше имя</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Телефон</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Почта</mat-label>
                    <input matInput>
                </mat-form-field>
                <button mat-raised-button color="primary">Отправить</button>              
            </div>

            <div>
                <img src="../../assets/images/map_image.png">
            </div>

        </div>

    </div>
</div>