.gilroy-14 {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.gilroy-16 {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.gilroy-24 {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
}
.gilroy-24-400 {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}
.gilroy-48 {
    font-family: Gilroy;
    font-size: 48px;
    font-weight: 700;
    line-height: 46px;
}
.black {
    color: #3A3A3A;
}
.blue {
    color: #002ED0;
}
/* * * * * * */
/* * * * * * */
/* * * * * * */
.up {
    position: relative;
    top: -60px;
}
.row {
    display: flex;
    flex-direction: row;
}