.gilroy-16 {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
    width: 545px;
    height: 110px;
}
.gilroy-48 {
    font-family: Gilroy;
    font-size: 48px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    padding: 30px;
}
.black {
    color: #3A3A3A;
}
.blue {
    color: #002ED0;
}