.screen {
  width: 1440px;
  overflow: hidden;
  background: #FBFBFD;
  padding-top: 60px;
}

.padding-right-30 {
    padding-right: 30px;
}
.padding-left-30 {
    padding-left: 30px;
}

.line {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .stripe {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  .blue-letters{
    color: #002ED0;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }
  .black-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }
  .row{
      display: flex;
      flex-direction: row;
  }
  .h-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: top;
      margin: 20px;
      padding-left: 60px;
      padding-right: 60px;
  }
  .column{
      display: flex;
      flex-direction: column;
  }
  .caption-2{
    width: 410px;
  }
  .small-letters{
      color: #3A3A3A;
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
  }
  .arrow-left{
    width: 54px;
    height: 54px;
    background: url(../../assets/images/arrow_L.svg);
    background-repeat: no-repeat;
    z-index: 500;
    position: absolute;
    left: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .arrow-left:hover{
    background: url(../../assets/images/arrow_L_act.svg);
    background-repeat: no-repeat;
  }
  .arrow-right{
    width: 54px;
    height: 54px;
    background: url(../../assets/images/arrow_R.svg);
    background-repeat: no-repeat;
    z-index: 500;
    position: absolute;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .arrow-right:hover{
    background: url(../../assets/images/arrow_R_act.svg);
    background-repeat: no-repeat;
  }
  .decor {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      overflow: hidden;
  }
  .caption {
    width: 410px;
  }