.screen {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  background: #FBFBFD;
  padding-top: 120px;
  padding-bottom: 60px;
}

.padding-right-30 {
    padding-right: 30px;
}
.padding-left-30 {
    padding-left: 30px;
}
/*  */
.line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 60px;
    margin: 60px;
  }
  
  .blue-letters{
    color: #002ED0;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }
  .black-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }
  .row{
      display: flex;
      flex-direction: row;
  }
  .h-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: top;
      margin: 30px 60px 30px 30px;
  }
  .column{
      display: flex;
      flex-direction: column;
  }
  .caption-2{
    width: 410px;
  }
  .small-letters{
      color: #3A3A3A;
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
  }
  .arrow-left{
    width: 54px;
    height: 54px;
    background: url(../../assets/images/arrow_L.svg);
    z-index: 500;
    position: absolute;
    left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-left:hover{
    background: url(../../assets/images/arrow_L_act.svg);
  }
  .arrow-right{
    width: 54px;
    height: 54px;
    background: url(../../assets/images/arrow_R.svg);
    z-index: 500;
    position: absolute;
    right: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-right:hover{
    background: url(../../assets/images/arrow_R_act.svg);
  }