<div class="screen"
(mouseenter)="showArrows()"
(mouseleave)="showArrows()"
(mouseenter)="showEmployees()"
(mouseenter)="captionShow()"
(mouseenter)="lineShow()">
    <div>
        <div class="h-row">
            <div class="gilroy-48">
                <span class="black">Наша</span><br>
                <span class="blue">команда</span>
            </div>        

            <div class="caption padding-left-30"
                [@captionHover]="isCaptionHover ? 'visible' : 'invisible'">
                <div class="decor">
                    <img src="../../assets/images/q-quote.svg">
                    <div style="width:10px;"></div>
                    <hr align="left" color="blue" width="410px"
                        [@lineHover]="isLineHover ? 'width500' : 'width0'">
                </div>
                <p class="gilroy-16 black">{{text}}</p>
            </div>

            <img class="up" src="../../assets/images/team.svg">
        </div>


        <div class="line" 
            [@slide-empl]="employeesShown ? 'slide' : 'out'"
            >
            <div class="arrow-left" [@arrow-r]="arrowsShown ? 'show' : 'hide'"></div>
                <app-employee [employeeImage]="image1" [employeeName]="employeeName1" [job]="employeeJob1"></app-employee>
                <app-employee [employeeName]="employeeName2" [job]="employeeJob2"></app-employee>
                <app-employee [employeeImage]="image3" [employeeName]="employeeName3" [job]="employeeJob3"></app-employee>
                <app-employee></app-employee>
            <div class="arrow-right" [@arrow-l]="arrowsShown ? 'show' : 'hide'"></div>
        </div>
        
    </div>
</div>