/* Common */
@media screen {
  .sliding-element{
    transition-duration: 0.5s;
    transition-property: all;
    width: 555px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sliding-element:hover{
    transform: translate(-279px);
  }
  .sBuild{
    background-image: url(../../assets/images/banner/36.png);
  }
  .sBuildIcon{
    background-image: url(../../assets/images/icons/05.svg);
  }
  .sUnit{
    background-image: url(../../assets/images/banner/35.png);
  }
  .sUnitIcon{
    background-image: url(../../assets/images/icons/02.svg);
  }
  .sDev{
    background-image: url(../../assets/images/banner/37.png);
  }
  .sDevIcon{
    background-image: url(../../assets/images/icons/7.svg);
  }
  .sHelp{
    background-image: url(../../assets/images/banner/38.png);
  }
  .sHelpIcon{
    background-image: url(../../assets/images/icons/04.svg);
  }
  .sCreate{
    background-image: url(../../assets/images/banner/39.png);
  }
  .sCreateIcon{
    background-image: url(../../assets/images/icons/06.svg);
  }
  .orange{background-color: #FF7800;}
  .green{background-color: #27D24D;}
  .dark-blue{background-color: #0D3765;}
  .yellowish-orange{background-color: #FFB700;}
  .purple{background-color: #7E17FF;}
}


/* Monitors */
@media (min-width: 800px) {
    .mobile-main {
        display: none;
    }
    .main{
        width: 1440px;
        height: 675px;
        background: #F5F6FB;
        padding-bottom: 120px;
    }
    .rectangle1349{
        width: 379px;
        height: 468px;
        position: relative;
        /* top: 80px; */
        top: 160px;
        left: 56px;
        flex-shrink: 0;

        border-radius: 20px;
        background: linear-gradient(152deg, #002ED0 8.86%, #021C75 98.88%);
        z-index: 0;
        
        color: #FFF;
        font-family: Gilroy;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 38px;
        text-transform: uppercase;
    }
    .rashiryaem{
        position: relative;
        top: 147px;
        left: 26px;
    }
    .granici{
        position: relative;
        top: 189px;
        left: 55.52px;
    }
    .bisnesa{
        position: relative;
        top: 231px;
        left: 42px;
    }
    .wrapper{
      width: 1070px;
      position: relative;
      top: -250px;
      left: 314px;
    }
    .wrapper{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-repeat: no-repeat;
    }
    .bannerBlock{
      border-radius: 20px;
      margin: 5px;
      flex: auto;
  
      object-fit: cover;
      width: 206px;
      height: 452px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
  
      transition-duration: 0.5s;
    }
    .bannerBlock:hover{
      width: 249px;
    }
    .corner-1{
      width: 66px;
      height: 187px;
      border-radius: 0px 20px 20px 0px;
      
      margin-top: 251px;
      margin-bottom: 14px;
    }
    .corner-1-text{
      transform: rotate(-90deg);
      position: relative;
      top: 125px;
      color: var(--primary-white, #FFF);
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 34.44px;
      letter-spacing: 0.96px;
      text-transform: uppercase;
    }
    .corner-2{
      margin-top: 251px;
      margin-bottom: 14px;
      position: relative;
      top: 46px;
      padding-right: 60px;
    }
    .sign-1{
      color: var(--primary-white, #FFF);
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 34.44px;
      letter-spacing: 0.96px;
      text-transform: uppercase;
      width: 200px;
      padding: 7px 0;
    }
    .sign-2{
      color: var(--primary-white, #FFF);
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22.96px;
      width: 200px;
    }
    .icon{
      width: 56px;
      height: 56px;
      border-radius: 56px;
      background-repeat: no-repeat;
      padding: 7px;
    }
}

/* Mobile */
@media (max-width: 800px) {
  .main {
    display: none;
  }
  .r-gap {
    padding-top: 40px;
  }
  .rectangle1349 {
    /* width: 343px; */
    width: 90%;
    height: 424px;
    
    border-radius: 20px;
    background: linear-gradient(152deg, #002ED0 8.86%, #021C75 98.88%);
    z-index: 0;
    
    color: #FFF;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 110px;
    left: 16px;
  }
  .wrapper {
    position: relative;
    top: -130px;
    left: 32px;
    /* width: 360px; */
    /* width: calc(740px - (800px - 100%)); */
    width: calc(100% - 60px);
    height: 351px;
  }
  .wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-repeat: no-repeat;
    overflow: hidden;
    overflow-x: scroll;
  }
  .bannerBlock{
    border-radius: 20px;
    margin: 5px;
    flex-shrink: 0;

    object-fit: cover;
    background-size: auto 351px;

    width: 160px;
    height: 351px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;

    transition-duration: 0.5s;
  }
  .bannerBlock:hover{
    width: 180px;
  }
  .corner-1{
    width: 50px;
    height: 145px;
    border-radius: 0px 15px 15px 0px;
    
    margin-top: 195px;
    margin-bottom: 11px;
  }
  .corner-1-text{
    transform: rotate(-90deg);
    position: relative;
    top: 95px;
    color: var(--primary-white, #FFF);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.44px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
  .corner-2{
    margin-top: 195px;
    margin-bottom: 11px;
    position: relative;
    top: 36px;
    padding-right: 60px;
  }
  .sign-1{
    color: var(--primary-white, #FFF);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    width: 200px;
    padding: 7px 0;
  }
  .sign-2{
    color: var(--primary-white, #FFF);
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 200px;
  }
  .icon{
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: 48px;
    padding: 0 7px 25px 7px;
  }
  /*  */

/*  */
.wrap {
  margin: auto;
  padding: 20px;
}
.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  min-width: 100%;
}

.marquee {
  animation: scroll 10s linear infinite;
}
.reverce {
  animation-direction: reverse;
}
.items-wrap:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
/*  */
}