<div class="main">

    <div class="rectangle1349">
        <div class="rashiryaem">Расширяем</div><div class="granici">границы</div><div class="bisnesa">бизнеса</div>
    </div>

    <div class="wrapper">

      <div class="bannerBlock sBuild">
        <div class="sliding-element">
          <div class="corner-1 orange">
            <div class="corner-1-text">Строим</div>
          </div>
          <div class="corner-2">
            <div class="sign-1">Строим</div>
            <div class="icon sBuildIcon"></div>
            <div class="sign-2">ООО "МИР СТРОЙ"</div>
          </div>
        </div>
      </div>

      <div class="bannerBlock sUnit">
        <div class="sliding-element">
          <div class="corner-1 green">
            <div class="corner-1-text">Объединяем</div>
          </div>
          <div class="corner-2">
            <div class="sign-1">Объединяем</div>
            <div class="icon sUnitIcon"></div>
            <div class="sign-2">ООО "М3"</div>
          </div>
        </div>
      </div>

      <div class="bannerBlock sDev">
        <div class="sliding-element">
          <div class="corner-1 dark-blue">
            <div class="corner-1-text">Развиваем</div>
          </div>
          <div class="corner-2">
            <div class="sign-1">Развиваем</div>
            <div class="icon sDevIcon"></div>
            <div class="sign-2">ООО "ПК"</div>
          </div>
        </div>
      </div>

      <div class="bannerBlock sHelp">
        <div class="sliding-element">
          <div class="corner-1 yellowish-orange">
            <div class="corner-1-text">Помогаем</div>
          </div>
          <div class="corner-2">
            <div class="sign-1">Помогаем</div>
            <div class="icon sHelpIcon"></div>
            <div class="sign-2">ООО "Капитал"</div>
          </div>
        </div>
      </div>

      <div class="bannerBlock sCreate">
        <div class="sliding-element row">
          <div class="corner-1 purple">
            <div class="corner-1-text">Создаем</div>
          </div>
          <div class="corner-2">
            <div class="sign-1">Создаем</div>
            <div class="icon sCreateIcon"></div>
            <div class="sign-2">ООО "Айтишник"</div>
          </div>
        </div>
      </div>

    </div>

</div>

<div class="mobile-main">

  <div class="rectangle1349">
    <div class="r-gap"></div>
      <div>Расширяем</div><div>границы</div><div>бизнеса</div>
  </div>

  <!-- <div class="wrapper">
    <div class="bannerBlock sBuild">
      <div class="sliding-element">
        <div class="corner-1 orange">
          <div class="corner-1-text">Строим</div>
        </div>
        <div class="corner-2">
          <div class="sign-1">Строим</div>
          <div class="icon sBuildIcon"></div>
          <div class="sign-2">ООО "МИР СТРОЙ"</div>
        </div>
      </div>
    </div>

    <div class="bannerBlock sUnit">
      <div class="sliding-element">
        <div class="corner-1 green">
          <div class="corner-1-text">Объединяем</div>
        </div>
        <div class="corner-2">
          <div class="sign-1">Объединяем</div>
          <div class="icon sUnitIcon"></div>
          <div class="sign-2">ООО "М3"</div>
        </div>
      </div>
    </div>

    <div class="bannerBlock sDev">
      <div class="sliding-element">
        <div class="corner-1 dark-blue">
          <div class="corner-1-text">Развиваем</div>
        </div>
        <div class="corner-2">
          <div class="sign-1">Развиваем</div>
          <div class="icon sDevIcon"></div>
          <div class="sign-2">ООО "ПК"</div>
        </div>
      </div>
    </div>

    <div class="bannerBlock sHelp">
      <div class="sliding-element">
        <div class="corner-1 yellowish-orange">
          <div class="corner-1-text">Помогаем</div>
        </div>
        <div class="corner-2">
          <div class="sign-1">Помогаем</div>
          <div class="icon sHelpIcon"></div>
          <div class="sign-2">ООО "Капитал"</div>
        </div>
      </div>
    </div>

    <div class="bannerBlock sCreate">
      <div class="sliding-element row">
        <div class="corner-1 purple">
          <div class="corner-1-text">Создаем</div>
        </div>
        <div class="corner-2">
          <div class="sign-1">Создаем</div>
          <div class="icon sCreateIcon"></div>
          <div class="sign-2">ООО "Айтишник"</div>
        </div>
      </div>
    </div>
  </div> -->
  <!--  -->

        <!--  -->
        <div class="wrap wrapper">
            <div class="items-wrap">
              <div class="items marquee">
                <div class="item">
                  <div class="bannerBlock sBuild">
                    <div class="sliding-element">
                      <div class="corner-1 orange">
                        <div class="corner-1-text">Строим</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Строим</div>
                        <div class="icon sBuildIcon"></div>
                        <div class="sign-2">ООО "МИР СТРОЙ"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="item">
                  <div class="bannerBlock sUnit">
                  <div class="sliding-element">
                    <div class="corner-1 green">
                      <div class="corner-1-text">Объединяем</div>
                    </div>
                    <div class="corner-2">
                      <div class="sign-1">Объединяем</div>
                      <div class="icon sUnitIcon"></div>
                      <div class="sign-2">ООО "М3"</div>
                    </div>
                  </div>
                </div>
                  
                </div>
                <div class="item">
                  <div class="bannerBlock sDev">
                    <div class="sliding-element">
                      <div class="corner-1 dark-blue">
                        <div class="corner-1-text">Развиваем</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Развиваем</div>
                        <div class="icon sDevIcon"></div>
                        <div class="sign-2">ООО "ПК"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="item">
                  <div class="bannerBlock sHelp">
                    <div class="sliding-element">
                      <div class="corner-1 yellowish-orange">
                        <div class="corner-1-text">Помогаем</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Помогаем</div>
                        <div class="icon sHelpIcon"></div>
                        <div class="sign-2">ООО "Капитал"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="item">
                  <div class="bannerBlock sCreate">
                    <div class="sliding-element row">
                      <div class="corner-1 purple">
                        <div class="corner-1-text">Создаем</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Создаем</div>
                        <div class="icon sCreateIcon"></div>
                        <div class="sign-2">ООО "Айтишник"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div aria-hidden="true" class="items marquee">
                <div class="item">
                  <div class="bannerBlock sBuild">
                    <div class="sliding-element">
                      <div class="corner-1 orange">
                        <div class="corner-1-text">Строим</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Строим</div>
                        <div class="icon sBuildIcon"></div>
                        <div class="sign-2">ООО "МИР СТРОЙ"</div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="item">
                  <div class="bannerBlock sUnit">
                    <div class="sliding-element">
                      <div class="corner-1 green">
                        <div class="corner-1-text">Объединяем</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Объединяем</div>
                        <div class="icon sUnitIcon"></div>
                        <div class="sign-2">ООО "М3"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="item">
                  <div class="bannerBlock sDev">
                    <div class="sliding-element">
                      <div class="corner-1 dark-blue">
                        <div class="corner-1-text">Развиваем</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Развиваем</div>
                        <div class="icon sDevIcon"></div>
                        <div class="sign-2">ООО "ПК"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="item">
                  <div class="bannerBlock sHelp">
                    <div class="sliding-element">
                      <div class="corner-1 yellowish-orange">
                        <div class="corner-1-text">Помогаем</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Помогаем</div>
                        <div class="icon sHelpIcon"></div>
                        <div class="sign-2">ООО "Капитал"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="item">
                  <div class="bannerBlock sCreate">
                    <div class="sliding-element row">
                      <div class="corner-1 purple">
                        <div class="corner-1-text">Создаем</div>
                      </div>
                      <div class="corner-2">
                        <div class="sign-1">Создаем</div>
                        <div class="icon sCreateIcon"></div>
                        <div class="sign-2">ООО "Айтишник"</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        <!--  -->

</div>