.main{
    width: 100%;
    height: 675px;
    background: #F5F6FB;
    padding-bottom: 120px;
}
.rectangle1349{
    width: 379px;
    height: 468px;
    position: relative;
    top: 80px;
    left: 56px;
    flex-shrink: 0;

    border-radius: 20px;
    background: linear-gradient(152deg, #002ED0 8.86%, #021C75 98.88%);
    z-index: 0;
    
    color: #FFF;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
}
.rashiryaem{
    position: relative;
    top: 147px;
    left: 26px;
}
.granici{
    position: relative;
    top: 189px;
    left: 55.52px;
}
.bisnesa{
    position: relative;
    top: 231px;
    left: 42px;
}

.wrapper{
    display: flex;
    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    position: absolute;
    top: 242px;
    left: 314px;
    background-repeat: no-repeat;
    /* width: calc(100% - 490px);
    overflow: hidden; */
}
.bannerBlock{
    border-radius: 20px;
    margin: 5px;
    flex: auto;

    object-fit: cover;
    width: 206px;
    height: 452px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;

    transition-duration: 0.5s;
}
.bannerBlock:hover{
    width: 249px;
}
.sliding-element{
    transition-duration: 0.5s;
    transition-property: all;
    width: 555px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sliding-element:hover{
    transform: translate(-279px);
}
.corner-1{
    width: 66px;
    height: 187px;
    border-radius: 0px 20px 20px 0px;
    
    margin-top: 251px;
    margin-bottom: 14px;
}
.corner-1-text{
    transform: rotate(-90deg);
    position: relative;
    top: 125px;
    color: var(--primary-white, #FFF);
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.44px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}
.corner-2{
    margin-top: 251px;
    margin-bottom: 14px;
    position: relative;
    top: 46px;
    padding-right: 60px;
}
.sign-1{
    color: var(--primary-white, #FFF);
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.44px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    width: 200px;
    padding: 7px 0;
}
.sign-2{
    color: var(--primary-white, #FFF);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.96px;
    width: 200px;
}
.icon{
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-repeat: no-repeat;
    padding: 7px;
}
.sBuild{
    background-image: url(../../assets/images/banner/36.png);
}
.sBuildIcon{
    background-image: url(../../assets/images/icons/05.svg);
}
.sUnit{
    background-image: url(../../assets/images/banner/35.png);
}
.sUnitIcon{
    background-image: url(../../assets/images/icons/02.svg);
}
.sDev{
    background-image: url(../../assets/images/banner/37.png);
}
.sDevIcon{
    background-image: url(../../assets/images/icons/7.svg);
}
.sHelp{
    background-image: url(../../assets/images/banner/38.png);
}
.sHelpIcon{
    background-image: url(../../assets/images/icons/04.svg);
}
.sCreate{
    background-image: url(../../assets/images/banner/39.png);
}
.sCreateIcon{
    background-image: url(../../assets/images/icons/06.svg);
}
.orange{background-color: #FF7800;}
.green{background-color: #27D24D;}
.dark-blue{background-color: #0D3765;}
.yellowish-orange{background-color: #FFB700;}
.purple{background-color: #7E17FF;}