<div class="screen">
    <div class="row">
        <div class="gilroy-24">
            <span class="black">Наша</span><br>
            <span class="blue">команда</span>
        </div>
        <img class="team" src="../../assets/images/team.svg">
    </div>

    <div class="row">
        <img src="../../assets/images/q-quote.svg">
        <hr color="blue" width="90%">
    </div>
    <p class="gilroy-15 black text">{{text}}</p>

    <div class="block">
        <div class="row">
            <div class="arrow-left"></div>
            <app-employee [employeeImage]="image1" [employeeName]="employeeName1" [job]="employeeJob1"></app-employee>
            <div class="arrow-right"></div>
        </div>
    </div>

</div>