/* Mobile */
@media (max-width: 800px) {
    .gilroy-24 {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
    }
    .gilroy-15 {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
    }
    .block {
        display: flex;
        justify-content: center;
        /* padding: 0 20px; */
    }
    .black {
        color: #3A3A3A;
    }
    .blue {
        color: #002ED0;
    }
    .team {
        width: 100px;
        height: 55px;
        position: relative;
        top: -10px;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
        padding: 20px 20px 0px 20px;
    }
    .text {
        padding: 0px 20px 0px 20px;
    }
    .arrow-left {
        width: 54px;
        height: 54px;
        background: url(../../assets/images/arrow_L.svg);
        background-repeat: no-repeat;
        position: relative;
        top: -40px;
        left: 80px;
        z-index: 800;
        flex-shrink: 0;
    }
    .arrow-left:hover{
      background: url(../../assets/images/arrow_L_act.svg);
      background-repeat: no-repeat;
    }
    .arrow-right {
        width: 54px;
        height: 54px;
        background: url(../../assets/images/arrow_R.svg);
        background-repeat: no-repeat;
        position: relative;
        top: -40px;
        left: 347px;
        z-index: 800;
        flex-shrink: 0;
    }
    .arrow-right:hover{
      background: url(../../assets/images/arrow_R_act.svg);
      background-repeat: no-repeat;
    }
    .screen {
        padding-bottom: 64px;
        overflow: hidden;
    }

  .line {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 60px;
  }
  .stripe {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 455px) {
    .line {
        position: relative;
        right: 50px;
    }
}
@media (max-width: 385px) {
    .line {
        position: relative;
        right: 100px;
    }
}