/* Monitors */
@media (min-width: 800px) {
    .geography-mobile {
        display: none;
    }
    .screen {
        width: 1440px;
        overflow: hidden;
        background-color: #F5F6FB;
    }
    .flags{
        padding: 60px;
    }
    .img-flag {
        width: 250px;
        padding: 5px;
    }
    .first, .second {
        display: flex;
        justify-content: space-around;
    }
    .col {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0 60px;
    }
    .gilroy-24 {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
    }
    .gilroy-48 {
        font-family: Gilroy;
        font-size: 48px;
        font-weight: 700;
        line-height: 46px;
    }
    .black {
        color: #3A3A3A;
    }
    .blue {
        color: #002ED0;
    }
}
/* Mobile */
@media (max-width: 800px) {
    .geography {
        display: none;
    }
    .screen {
        overflow: hidden;
        background-color: #F5F6FB;
    }
    .block {
      padding: 0 20px 64px 20px;
    }
    .first, .second {
        display: flex;
        justify-content: space-around;
    }
    .gilroy-24 {
        font-family: Gilroy;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }
    
    .gilroy-16 {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .black {
        color: #3A3A3A;
    }
    .blue {
        color: #002ED0;
    }
    .wrapper {
        width: 100%;
        justify-content: space-between;
        background-repeat: no-repeat;
        overflow: hidden;
        overflow-x: scroll;
    }
    .img-flag {
        margin: 5px;
    }

  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
  }
  .items {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    transition: all 0.1s ease-in-out;
  }
  .item .img-flag {
    width: 155px;
    height: 122px;
  }
  .marquee {
    animation: scroll 20s linear infinite;
  }
  .reverce {
    animation-direction: reverse;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }    
}
