.screen {
    width: 1440px;
    overflow: hidden;
    background-color: #F5F6FB;
}
.flags{
    padding: 60px;
}
img {
    width: 250px;
    padding: 20px;
}
.first, .second {
    display: flex;
    justify-content: space-around;
}
.col {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0 60px;
}