.screen {
    width: 1440px;
    overflow: hidden;
    background-color: #F5F6FB;
    padding: 60px;
}
img {
    width: 250px;
    padding: 20px;
}
.first, .second {
    display: flex;
    justify-content: space-around;
}
.col {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 30px;
}