/* Monitors */
@media (min-width: 800px) {
    .geography-mobile {
        display: none;
    }
    .screen {
        width: 1440px;
        overflow: hidden;
        background-color: #F5F6FB;
    }
    .flags{
        padding: 60px;
    }
    img {
        width: 250px;
        padding: 20px;
    }
    .first, .second {
        display: flex;
        justify-content: space-around;
    }
    .col {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0 60px;
    }
    .gilroy-24 {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
    }
    .gilroy-48 {
        font-family: Gilroy;
        font-size: 48px;
        font-weight: 700;
        line-height: 46px;
    }
    .black {
        color: #3A3A3A;
    }
    .blue {
        color: #002ED0;
    }
}
/* Mobile */
@media (max-width: 800px) {
    .geography {
        display: none;
    }
    .screen {
        overflow: hidden;
        background-color: #F5F6FB;
        padding: 0 20px 64px 20px;
    }
    .first, .second {
        display: flex;
        justify-content: space-around;
    }
    .gilroy-24 {
        font-family: Gilroy;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }
    
    .gilroy-16 {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .black {
        color: #3A3A3A;
    }
    .blue {
        color: #002ED0;
    }
    .wrapper {
        width: 100%;
        justify-content: space-between;
        background-repeat: no-repeat;
        overflow: hidden;
        overflow-x: scroll;
    }
    img {
        margin: 5px;
    }
/*  */
  .wrap {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
  }
  .items-wrap:before,
  .items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  .items-wrap:before {
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .items-wrap:after {
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    transition: all 0.1s ease-in-out;
  }
  /* .item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  } */
  
  .marquee {
    animation: scroll 20s linear infinite;
  }
  .reverce {
    animation-direction: reverse;
  }
  .items-wrap:hover .marquee {
    animation-play-state: paused;
  }
  
  .perfscan {
    margin: 20px 0;
    text-align: center;
    bottom: 0;
    background: #fff;
    padding: 5px;
  }
  .perfscan hr {
    border: solid #999;
    border-width: 1px 0 0 0;
    max-width: 50%;
    margin: 0 auto 20px;
  }
  .perfscan a {
    color: #000;
    font-weight: bold;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  /*  */
    
}
