<div class="geography" (mouseenter)="showFlags()">
    <div class="screen">
        <div class="col">
            <p class="gilroy-48 blue">География</p>
            <p class="gilroy-24 black">Новые страны - новые возможности:</p>
        </div>
        
        <div class="flags" >
            <div class="first" [@flag-line-one]="flagsOne ? 'in' : 'out'">
                <img class="img-flag" src="../../assets/images/flags/Казахстан.png">
                <img class="img-flag" src="../../assets/images/flags/Таджикистан.png">
                <img class="img-flag" src="../../assets/images/flags/Кыргызстан.png">
                <img class="img-flag" src="../../assets/images/flags/Узбекистан.png">
                <img class="img-flag" src="../../assets/images/flags/Грузия.png">
            </div>
            <div class="second" [@flag-line-two]="flagsTwo ? 'in' : 'out'">
                <img class="img-flag" src="../../assets/images/flags/Армения.png">
                <img class="img-flag" src="../../assets/images/flags/Россия.png">
                <img class="img-flag" src="../../assets/images/flags/Беларусь.png">
                <img class="img-flag" src="../../assets/images/flags/Турция.png">
                <img class="img-flag" src="../../assets/images/flags/Германия.png">
            </div>
        </div>
    </div>
</div>

<div class="geography-mobile">
    <div class="screen">
      <div class="block">
        <p class="gilroy-24 blue ">География</p>
        <p class="gilroy-16 black ">Новые страны - новые возможности:</p>
      </div>
        <!--  -->
        <div class="wrap wrapper">
            <div class="items-wrap">
              <div class="items marquee">
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Казахстан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Таджикистан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Кыргызстан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Узбекистан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Грузия.png"></div>
              </div>
              <div aria-hidden="true" class="items marquee">
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Казахстан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Таджикистан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Кыргызстан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Узбекистан.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Грузия.png"></div>
              </div>
            </div>
            <div class="items-wrap">
              <div class="items marquee reverce">
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Армения.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Россия.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Беларусь.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Турция.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Германия.png"></div>
              </div>
              <div aria-hidden="true" class="items marquee reverce">
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Армения.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Россия.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Беларусь.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Турция.png"></div>
                <div class="item"><img class="img-flag" src="../../assets/images/flags/Германия.png"></div>
              </div>
            </div>
          </div>
        <!--  -->
    </div>
</div>