
<div class="mobile-screen" (mouseenter)="moveLetters()" (mouseenter)="moveTruck()">

    <div class="row">
        <div class="gilroy-24">
            <span class="blue">Наш бизнес </span>
            <span class="black">- это:</span>
        </div>
    </div>

        <div class="wrap wrapper">
            <div class="items-wrap">
              <div class="items marquee">
                <div class="item"><span class="word">Свобода </span></div>
                <div class="item"><span class="word">Поддержка </span></div>
                <div class="item"><span class="word">Развитие </span></div>
                <div class="item"><span class="word">Польза </span></div>
                <div class="item"><span class="word">Трансформация </span></div>
              </div>
              <div aria-hidden="true" class="items marquee">
                <div class="item"><span class="word">Свобода </span></div>
                <div class="item"><span class="word">Поддержка </span></div>
                <div class="item"><span class="word">Развитие </span></div>
                <div class="item"><span class="word">Польза </span></div>
                <div class="item"><span class="word">Трансформация </span></div>
              </div>
            </div>
            <div class="items-wrap">
              <div class="items marquee reverce">
                <div class="item"><span class="word">Риски </span></div>
                <div class="item"><span class="word">Объединение </span></div>
                <div class="item"><span class="word">Созидание </span></div>
                <div class="item"><span class="word">Преодоление </span></div>
                <div class="item"><span class="word">Победы </span></div>
              </div>
              <div aria-hidden="true" class="items marquee reverce">
                <div class="item"><span class="word">Риски </span></div>
                <div class="item"><span class="word">Объединение </span></div>
                <div class="item"><span class="word">Созидание </span></div>
                <div class="item"><span class="word">Преодоление </span></div>
                <div class="item"><span class="word">Победы </span></div>
              </div>
            </div>
          </div>

    <div class="page">

        <div class="row">
            <img src="../../assets/images/q-quote.svg">
            <hr color="blue" width="90%">
        </div>
        <p class="gilroy-15 black subs">{{text}}</p>

    <div class="truck"></div>

  </div>
</div>