
<div class="mobile-screen">

    <div class="gilroy-24">
        <span class="blue">Наш бизнес </span><span class="black">- это:</span>
    </div>

    <div class="wrapper" (mouseenter)="moveLetters()">
        <div class="gray-letters" [@lettersFirst]="lettersHover ? 'move-from-right' : 'start'">
            <span class="word">Свобода </span>
            <span class="word">Поддержка </span>
            <span class="word">Развитие </span>
            <span class="word">Польза </span>
            <span class="word">Трансформация </span>
        </div>
        <div class="gray-letters" [@lettersSecond]="lettersHover ? 'move-from-left' : 'start'">
            <span class="word">Риски </span>
            <span class="word">Объединение </span>
            <span class="word">Созидание </span>
            <span class="word">Преодоление </span>
            <span class="word">Победы </span>
        </div>
    </div>

    <div class="page" (mouseenter)="moveTruck()">

        <div class="block"
            (mouseenter)="captionShow()"
            (mouseenter)="lineShow()"
            [@captionHover]="isCaptionHover ? 'visible' : 'invisible'">
            <div class="decor">
                <img src="../../assets/images/q-quote.svg">
                <div style="width:10px;"></div>
                <hr align="left" color="blue" width="410px"
                    [@lineHover]="isLineHover ? 'width500' : 'width0'">
            </div>
            <p class="gilroy-16 black block">Все это сопровождает нас в бизнесе в период его становления. Мы почувствовали это на себе, на своем бизнесе, созданном в 2014 году.
                На уровне одного города мы начали объединять различный сервис для грузовых машин и за несколько лет стали крупнейшим агрегатором автомобильного сервиса в Евразии.</p>
        </div>

        <!-- <div class="truck padding-right-30"
            [@truckHover]="isTruckHover ? 'truckFinish' : 'truckStart'">
            <div class="light"
                [@lightHover]="isLightHover ? 'on' : 'off'"
                (mouseenter)="lightOnOff()"
                (mouseleave)="lightOnOff()">
            </div>
        </div> -->
<div class="truck">
    <!-- <img src="../../assets/images/truck.svg"> -->
</div>
    </div>
</div>
<!-- 
<div class="truck">truck
    <img src="../../assets/images/truck.svg">
</div> -->