/* Common */
@media screen {
    .gilroy-24 {
        font-family: Gilroy;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }
    .gilroy-16 {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0 20px;
        width: 545px;
        height: 110px;
    }
    .gilroy-48 {
        font-family: Gilroy;
        font-size: 48px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        padding: 30px;
    }
    .black {
        color: #3A3A3A;
    }
    .blue {
        color: #002ED0;
    }
    .padding-right-30 {
        padding-right: 30px;
    }
    .padding-left-30 {
        padding-left: 30px;
    }
    .padding-right-16 {
        padding-right: 16px;
    }
    .padding-left-16 {
        padding-left: 16px;
    }
    .gray-letters {
        font-family: Gilroy;
        letter-spacing: 0em;
        text-align: left;
        color: #CED0E2;
        display: flex;
        justify-content: space-between;
    }
    .word {
        padding: 0 10px;
    }
    .wrapper {
        width: calc(100% - 30px);
        justify-content: space-between;
        background-repeat: no-repeat;
        overflow: hidden;
        overflow-x: scroll;
        margin: 0px 10px;
    }
}


/* Mobile */
@media (max-width: 800px) {
    .screen {
        display: none;
    }
    .mobile-screen {
        padding-bottom: 64px;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
        padding: 10px 20px 0px 20px;
    }
    .gilroy-15 {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
    }
    .subs {
        padding: 0px 20px 0px 20px;
    }
}
/*  */
.truck{
    width: 100%;
    height: 231px;
    background-size: 100% 231px;
    /* width: 442px;
    height: 231px;
    background-size: 442px 231px; */
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(../../assets/images/truck.svg);
    /* transform: translateX(-50px); */
    background-position: center;
    position: relative;
    /* top: 40px; */
}
.block {
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
    width: 341px;
}