<div class="header" (mousedown)="changeColor()">
    <img class="gap-1" src="../../assets/images/its_group.svg">
    <div class="header-component"><a href="#main" [@main]="main ? 'main' : ''">О компании</a></div>
    <div class="header-component"><a href="#our-team" [@our-team]="our_team ? 'our-team' : ''">Наша команда</a></div>
    <div class="header-component"><a href="#company-group" [@group]="group ? 'group' : ''">Группа предпринимателей</a></div>
    <div class="header-component"><a href="#contacts" [@contacts]="contacts ? 'contacts' : ''">Контакты</a></div>
    <div class="header-component telephone gap-2"><a href="tel:+78005500855">8 (800) 550 08 55</a>
        <a href="tel:+78005500855"><img src="../../assets/images/Ellipse 105.svg"></a></div>
</div>

<div class="mobile-header"
>
  <div class="row">
      <img id="mob-its" src="../../assets/images/its_group.svg">
      <a href="tel:+7800550855"><img id="mob-phone" src="../../assets/images/Ellipse 105.svg"></a>
      <div id="menu-cross"
      [@menuClick]="clicked ? 'cross' : 'menu'"
      (mousedown)="showMenu()"
      ></div>
  </div>

  <div class="col"
  [@menuClick]="clicked ? 'mopen' : 'mclose'"
  >
      <hr>
      <a href="#main" (mousedown)="showMenu()">О компании</a>
      <hr>
      <a href="#our-team" (mousedown)="showMenu()">Наша команда</a>
      <hr>
      <a href="#company-group" (mousedown)="showMenu()">Группа предпринимателей</a>
      <hr>
      <a href="#contacts" (mousedown)="showMenu()">Контакты</a>
      <hr>
      <div class="phone-row">
          <img id="img-phone2" src="../../assets/images/phone2.svg">
          <a href="tel:+7800550855">8 (800) 550 08 55</a>
      </div>
      <div class="sub">Звоните в любое время</div>
  </div>

</div>

<div (mousewheel)="showHeight()">
    <div class="field-2" id="main">
        <app-main></app-main>
    </div>
    <div class="field-1" id="truck">
        <div class="monitor">
            <!-- <app-truck></app-truck> -->
            <div class="screen">
            <!-- (mouseenter)="moveLetters()" 
            (mouseenter)="moveTruck()"
            (mouseenter)="captionShow()"
            (mouseenter)="lineShow()" -->

    <div class="padding-left-40">
        <span class="blue gilroy-48">Наш бизнес </span><span class="black gilroy-48">- это:</span>
    </div>
    <div class="vert-24px"></div>
    <div class="padding-right-30 padding-left-30">
        <div class="gray-letters" [@lettersFirst]="lettersHover ? 'move-from-right' : 'start'">
            <span class="word">Свобода </span>
            <span class="word">Поддержка </span>
            <span class="word">Развитие </span>
            <span class="word">Польза </span>
            <span class="word">Трансформация </span>
        </div>
        <div class="vert-16px"></div>
        <div class="gray-letters" [@lettersSecond]="lettersHover ? 'move-from-left' : 'start'">
            <span class="word">Риски </span>
            <span class="word">Объединение </span>
            <span class="word">Созидание </span>
            <span class="word">Преодоление </span>
            <span class="word">Победы </span>
        </div>
    </div>

    <div class="page">

        <div class="caption padding-left-30"
            [@captionHover]="isCaptionHover ? 'visible' : 'invisible'">
            <div class="decor">
                <img src="../../assets/images/q-quote.svg">
                <div style="width:10px;"></div>
                <hr align="left" color="blue" width="410px"
                    [@lineHover]="isLineHover ? 'width500' : 'width0'">
            </div>
            <p class="gilroy-16 black">{{text}}</p>
        </div>

        <div class="truck padding-right-30"
            [@truckHover]="isTruckHover ? 'truckFinish' : 'truckStart'">
            <div class="light"
                [@lightHover]="isLightHover ? 'on' : 'off'"
                (mouseenter)="lightOnOff()"
                (mouseleave)="lightOnOff()">
            </div>
        </div>
    </div>
</div>
            <!--  -->
        </div>
        <div class="mobile" id="truck">
            <app-truck-mobile></app-truck-mobile>
        </div>
    </div>
    <div class="field-2" id="geography">
        <app-geography></app-geography>
    </div>
    <div class="field-1"  id="our-team">
        <div class="monitor">
            <app-our-team></app-our-team>
        </div>
        <div class="mobile">
            <app-our-team-mobile></app-our-team-mobile>
        </div>
    </div>
    <div class="field-2" id="company-group">
        <div class="monitor">
            <app-company-group></app-company-group>
        </div>
        <div class="mobile">
            <app-company-group-mobile></app-company-group-mobile>
        </div>
    </div>
    <div class="field-2" id="contacts">
        <app-contacts></app-contacts>
        <app-footer (mousedown)="changeColor()"></app-footer>
    </div>
</div>