<div class="field-1">
    <app-header></app-header>
</div>
<div class="field-2">
    <app-main id="main"></app-main>
</div>
<div class="field-1">
    <app-truck id="truck"></app-truck>
</div>
<div class="field-2">
    <app-geography id="geography"></app-geography>
</div>
<div class="field-1">
    <app-our-team id="our-team"></app-our-team>
</div>
<div class="field-2">
    <app-company-group id="company-group"></app-company-group>
    <app-contacts id="contacts"></app-contacts>
    <app-footer></app-footer>
</div>