.cent {
    padding: 0 calc((100% - 1440px) / 2);
    width: 100%;
    background: #ddd;
    background-clip: border-box;
}
.field-1 {
    padding: 0 calc((100% - 1440px) / 2);
    width: 100%;
    background: #FBFBFD;
    background-clip: border-box;
}
.field-2 {
    padding: 0 calc((100% - 1440px) / 2);
    width: 100%;
    background: #F5F6FB;
    background-clip: border-box;
}

@media (min-width: 800px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 800px) {
    .monitor {
        display: none;
    }
}