.field-1, .field-2 {
    padding: 99px calc((100% - 1440px) / 2);
    margin-top: -99px 0;
    width: 100%;
    background-clip: border-box;
}
.field-1 {
    background: #FBFBFD;
}
.field-2 {
    background: #F5F6FB;
}

@media (min-width: 800px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 800px) {
    .monitor {
        display: none;
    }
}

#menu-cross, #mob-phone {
    cursor: pointer;
}