<div class="screen">
    <div class="gilroy-48">
        <span class="blue">Наш бизнес </span><span class="black">- это:</span>
    </div>

    <div class="padding-right-30 padding-left-30" (mouseenter)="moveLetters()">
        <div [@lettersFirst]="lettersHover ? 'move-from-right' : 'start'">
            <span>Свобода</span>
            <span>Поддержка</span>
            <span>Развитие</span>
            <span>Польза</span>
            <span>Трансформация</span>
        </div>
        <div [@lettersSecond]="lettersHover ? 'move-from-left' : 'start'">
            <span>Риски</span>
            <span>Объединение</span>
            <span>Созидание</span>
            <span>Преодоление</span>
            <span>Победы</span>
        </div>
    </div>

    <div class="page"
        (mouseenter)="captionShow()"
        (mouseenter)="lineShow()"
        (mouseenter)="moveTruck()">

        <div class="caption padding-left-30"
            [@captionHover]="isCaptionHover ? 'visible' : 'invisible'">
            <div class="decor">
                <img src="../../assets/images/q-quote.svg">
                <div style="width:10px;"></div>
                <hr align="left" color="blue" width="500px"
                    [@lineHover]="isLineHover ? 'width500' : 'width0'">
            </div>
            <p class="gilroy-16 black">Все это сопровождает нас в бизнесе в период его становления. Мы почувствовали это на себе, на своем бизнесе, созданном в 2014 году.
                На уровне одного города мы начали объединять различный сервис для грузовых машин и за несколько лет стали крупнейшим агрегатором автомобильного сервиса в Евразии.</p>
        </div>

        <div class="truck padding-right-30"
            [@truckHover]="isTruckHover ? 'truckFinish' : 'truckStart'">
            <div class="light"
                [@lightHover]="isLightHover ? 'on' : 'off'"
                (mouseenter)="lightOnOff()"
                (mouseleave)="lightOnOff()">
            </div>
        </div>
    </div>
</div>