.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.truck {
    width: 1030px;
    height: 540px;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.light {
    width: 1030px;
    height: 540px;
    background-repeat: no-repeat;
    background-position: bottom left;
}