.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: top;
}
.truck {
    width: 1030px;
    height: 540px;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.light {
    width: 1030px;
    height: 540px;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.caption {
    width: 545px;
    height: 110px;
}
.gilroy-16 {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
    width: 545px;
    height: 110px;
}
.black {
    color: #3A3A3A;
}
.decor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}