<div class="screen">
    <div class="gilroy-48">
        <span class="blue">Наш бизнес </span><span class="black">- это:</span>
    </div>

    <div class="padding-right-30 padding-left-30" (mouseenter)="moveLetters()">
        <div [@lettersFirst]="lettersHover ? 'move-from-right' : 'start'">
            <span>Свобода</span>
            <span>Поддержка</span>
            <span>Развитие</span>
            <span>Польза</span>
            <span>Трансформация</span>
        </div>
        <div [@lettersSecond]="lettersHover ? 'move-from-left' : 'start'">
            <span>Риски</span>
            <span>Объединение</span>
            <span>Созидание</span>
            <span>Преодоление</span>
            <span>Победы</span>
        </div>
    </div>

    <div class="page" (mouseenter)="moveTruck()">

        <app-quote-block [text]="text"></app-quote-block>

        <div class="truck padding-right-30"
            [@truckHover]="isTruckHover ? 'truckFinish' : 'truckStart'">
            <div class="light"
                [@lightHover]="isLightHover ? 'on' : 'off'"
                (mouseenter)="lightOnOff()"
                (mouseleave)="lightOnOff()">
            </div>
        </div>
    </div>
</div>