/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    scroll-behavior: smooth;
}

@media (max-width: 1400px) {
    body {
        zoom: 90%;
    }
}
@media (max-width: 1250px) {
    body {
        zoom: 80%;
    }
}
@media (max-width: 1100px) {
    body {
        zoom: 70%;
    }
}
@media (max-width: 800px) {
    body {
        zoom: 100%;
    }
}